* {
    padding: 0%;
    margin: 0%;
}

.nav-list {
    background-color: darkslategray;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    justify-content: center;
    gap: 5%;
}

.nav-list a {
    text-decoration: none;
    color: white;
}

.footer {
    background-color: darkslategray;
    list-style: none;#2f4f4f

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    justify-content: center;
    gap: 5%;

    color: white;
}

.banner img {
  width: 100%;
  height:fit-content;
}

.sobre {
    background-color: slategray;
    border-radius: 20px;
}
.sobre h1 {
    align-items: center;
}

.modelo {
    width: 20%;
    height: 20vw;
    border: 2px solid #333;
    border-radius: 18px;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
}
.modelo:hover {
    background-color: rgb(143, 165, 163);
    scale: 1.12;
}
.especialidades {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5vw;
    margin-bottom: 3%;
    margin-top: 3%;
}
.modelo img {
    width: 100%;
    height: 14vw;
    border-radius: 18px;
} 