* {
    padding: 0%;
    margin: 0%;
}

.nav-list {
    background-color: darkslategray;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    justify-content: center;
    gap: 5%;
}

.nav-list a {
    text-decoration: none;
    color: white;
}

.footer {
    background-color: darkslategray;
    list-style: none;#2f4f4f

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    justify-content: center;
    gap: 5%;

    color: white;
}

.banner img {
  width: 100%;
  height:fit-content;
}

.sobre {
    background-color: slategray;
    border-radius: 20px;
}
.sobre h1 {
    align-items: center;
}

.modelo {
    width: 20%;
    height: 20vw;
    border: 2px solid #333;
    border-radius: 18px;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
    font-size: 1.1vw;  /* Usando vw para o tamanho de fonte responsivo */
    overflow: hidden; /* Impede que o texto saia da caixa */
}

.modelo:hover {
    background-color: rgb(143, 165, 163);
    transform: scale(1.12);  /* Corrigido 'scale' para 'transform' */
}

.especialidades {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5vw;
    margin-bottom: 3%;
    margin-top: 3%;
}

.modelo img {
    width: 100%;
    height: 14vw;
    border-radius: 18px;
}

/* Resetando margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fa;
    padding: 20px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
}

.container {
    display: flex;
    justify-content: flex-start; /* Flex start para alinhar a imagem à esquerda */
    align-items: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 1000px;
}

.image img {
    width: 250px;
    height: auto;
    border-radius: 10px;
}

.text {
    margin-left: 20px;
    max-width: 500px;
}

h2 {
    font-size: 24px;
    color: #007B5F;
    margin-bottom: 10px;
}

.steps p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}
